<h1 id="TestToC2-Level1">Level 1</h1>
<h4 id="TestToC2-Level1.1">Level 1.1</h4>
<h5 id="TestToC2-Level1.1.1">Level 1.1.1</h5>
<h4 id="TestToC2-Level1.2">Level 1.2</h4>
<h5 id="TestToC2-Level1.2.1">Level 1.2.1</h5>

<h1 id="TestToC2-Level2">Level 2</h1>
<h4 id="TestToC2-Level2.1">Level 2.1</h4>
<h5 id="TestToC2-Level2.1.1">Level 2.1.1</h5>